







/*section & articles*/
section a, a:hover {
    color: black;
}

.row {
    padding-bottom: 1.6%; 
}

.side-side {
    text-align: center; 
}

.country-page figcaption {
    padding-bottom: 1.6%; 
    padding-top: 0.3%;
    text-align: center;
    font-style: italic; 
}

img {
    max-width: 100%;
}

.country-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.4%; 
    width:  25%;
    height: 30%;
}

.country-page p {
    padding-bottom: 2.4%;
}

.side-side img {
    display: inline-block;
    width:  25%;
    height: 30%;
}

/*Forms*/
textarea {
    width: 40%;
    height: 0;
    padding-bottom: 20%;
}

textarea, input {
    margin: 0% 0% 0.79% 0%;
}

label, textarea, input {
    display: block;
}

@media screen and (max-width: 991px){
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section a{
    text-align: center;
}

section h3 {
    padding-top: 1%;
    padding-bottom: 2%;
}

.row {
    padding-bottom: 0;
}
}

@media screen and (max-width: 767px) {
.container .navbar-right {
    display: none;
}
}


