/*Reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*html & body settings*/
body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative; 
}

body, html {
    height: 100%;
}

/*main - including settings for h#*/
h2 {
    font-size: 2em;
    text-align: center;
    padding: 20px 0px;
}

h3 {
    font-size: 1em;
}

main {
    display: block;
    padding-bottom: 60px;
}

/*header*/ 
header {
    height: 150px; 
}

.navbar-brand {
    font-size: 3em; 
    padding-top: 30px;
}

.container .navbar-nav {
    padding-top: 30px; 
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
    text-decoration: underline; 
}

.container .navbar-nav a, i{
    display: inline;
    padding: 0px 3px 0px 3px;
}

.container .navbar-nav li a {
    color: white;
}

.container .navbar-nav li a:hover {
    color: white;
    text-decoration: underline; 
}

/*header and footer*/
.glyphicon {
    padding: 0px 3px 0px 10px;
    color: white;
}

.navbar {
    background-color: black; 
    border-radius: 0px; 
}

.navbar a {
    color: white;
}

/*footer*/
footer a:hover {
    color: white;
}

.AboutContact {
    position: relative;
    min-height: 100%;
}

.navbar-static-bottom {
    padding: 15px 0px 0px 0px;
    margin-bottom: 0;
}

.navbar-static-bottom li {
    display: inline;
}

#AboutPage, #ContactPage {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*section & articles*/
section a, a:hover {
    color: black;
}

.row {
    padding-bottom: 20px; 
}

.SidebySide {
    text-align: center; 
}

.CountryPages figcaption {
    padding-bottom: 20px; 
    padding-top: 3px;
    text-align: center;
    font-style: italic; 
}

.CountryPages img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px; 
}

.CountryPages p {
    padding-bottom: 30px;
}

.SidebySide img {
    display: inline-block;
    width:  300px;
    height: 350px;
}

/*Forms*/
textarea {
    width: 300px;
    height: 200px;
}

textarea, input {
    margin: 0px 0px 10px 0px;
}

label, textarea, input {
    display: block;
}



