<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}|My Travels</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <a href="{{ url_for('index') }}" class="title"> My Travels</a>
        <ul>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul> 
      </div> 
    </header> 
    {% block content %} {% endblock %}
    <footer>
      <div class="footer">
        <ul>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>  
      </div> 
    </footer>
  </body>
</html> 