<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}|My Travels</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <a href="{{ url_for('index') }}" class="title"> My Travels</a>
        <ul>
          {% if title != 'About' %}
          <li><a href="{{ url_for('about') }}">About</a></li>
          {% endif %}
          {% if title != 'Contact' %}
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          {% endif %}
        </ul> 
      </div> 
    </header> 
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="message-ul">
        {% for message in messages %}
        <li class="message-li">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
    <footer>
      <div class="footer">
        <ul>
          {% if title != 'About' %}
          <li><a href="{{ url_for('about') }}">About</a></li>
          {% endif %}
          {% if title != 'Contact' %}
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          {% endif %}
        </ul> 
      </div> 
    </footer>
  </body>
</html> 