<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}|My Travels</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='sunglasses.png') }}">
    <div>Favicon made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    
      title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    
      title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </head>
  <body class="font">
    <header>
      <div class="container">
        <a href="{{ url_for('index') }}" class="title"> My Travels</a>
        <ul>
          {% if title != 'About' %}
          <li class="fas fa-plus"><a href="{{ url_for('about') }}">About</a></li>
          {% endif %}
          {% if title != 'Contact' %}
          <li class="fas fa-envelope"><a href="{{ url_for('contact') }}">Contact</a></li>
          {% endif %}
        </ul> 
      </div> 
    </header> 
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="message-ul">
        {% for message in messages %}
        <li class="message-li">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
    <footer>
      <div class="footer">
        <ul>
          {% if title != 'About' %}
          <li class="fas fa-plus"><a href="{{ url_for('about') }}">About</a></li>
          {% endif %}
          {% if title != 'Contact' %}
          <li class="fas fa-envelope"><a href="{{ url_for('contact') }}">Contact</a></li>
          {% endif %}
        </ul> 
      </div> 
    </footer>
  </body>
</html> 