{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">
      <section>
        <div class="row">
          <div class="col-12">
            <h2>Asia</h2>
          </div>
        </div>
        <div class="row">
          <article>
            <div class="col-4">
              <a href="{{ url_for('india') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/india_mustard_field-500.jpg') }},
                {{ url_for('static', filename='images/india_mustard_field-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/india_mustard_field-500.jpg') }}"
                alt="Mustard Field in India">
                <h3>India</h3> 
              </a>
            </div>
          </article> 
        </div> 
      </section>
      <section>
        <div class="row">
          <div class="col-12">
            <h2>Americas</h2>
          </div>
        </div>
        <div class="row">      
          <article>       
            <div class="col-4">
              <a href="{{ url_for('argentina') }}">
                  <img class="index"
                  srcset="{{ url_for('static', filename='images/argentina_la_boca-500.jpg') }},
                  {{ url_for('static', filename='images/argentina_la_boca-1000.jpg') }} 2x"
                  src="{{ url_for('static', filename='images/argentina_la_boca-500.jpg') }}"
                  alt="Colorful La Boca street, Buenos Aires">
                <h3>Argentina</h3>
              </a>
            </div>
          </article>
          <article>   
            <div class="col-4"> 
              <a href="{{ url_for('canada') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/canada_stanley_park-500.jpg') }},
                {{ url_for('static', filename='images/canada_stanley_park-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/canada_stanley_park-500.jpg') }}"
                alt="Stanley Park">
                <h3>Canada</h3>
              </a>
            </div>
          </article>
          <article>
            <div class="col-4">
              <a href="{{ url_for('uruguay') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/uruguay_green_building-500.jpg') }},
                {{ url_for('static', filename='images/uruguay_green_building-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/uruguay_green_building-500.jpg') }}"
                alt="Cool green building in Uruguay">
                <h3>Uruguay</h3>
              </a>
            </div> 
          </article>
        </div> 
      </section>
      <section>
        <div class="row">
          <div class="col-12"> 
            <h2>Europe (yes, I'm including the UK)</h2>
          </div>
        </div>
        <div class="row">
          <article>
            <div class="col-4">
              <a href="{{ url_for('france') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/france_eiffel-500.jpg') }},
                {{ url_for('static', filename='images/france_eiffel-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/france_eiffel-500.jpg') }}"
                alt="Eiffel Tower">
                <h3>France</h3>
              </a>
            </div>  
          </article>
          <article>
            <div class="col-4">  
              <a href="{{ url_for('germany') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/germany_wall-500.jpg') }},
                {{ url_for('static', filename='images/germany_wall-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/germany_wall-500.jpg') }}"
                alt="Piece of Berlin Wall">
                <h3>Germany</h3>
              </a>
            </div>
          </article>
          <article>  
            <div class="col-4"> 
              <a href="{{ url_for('greece') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/greece_acropolis-500.jpg') }},
                {{ url_for('static', filename='images/greece_acropolis-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/greece_acropolis-500.jpg') }}"
                alt="Image of Acropolis in Rhodes, Greece">
                <h3>Greece</h3>
              </a>
            </div>
          </article>
        </div> 
        <div class="row"> 
          <article>
            <div class="col-4">     
              <a href="{{ url_for('ireland') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/ireland_howth-500.jpg') }},
                {{ url_for('static', filename='images/ireland_howth-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/ireland_howth-500.jpg') }}"
                alt="Coast of Howth">
                <h3>Ireland</h3>
              </a>
            </div>
          </article>  
          <article> 
            <div class="col-4">
              <a href="{{ url_for('italy') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/italy_tuscany-500.jpg') }},
                {{ url_for('static', filename='images/italy_tuscany-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/italy_tuscany-500.jpg') }}"
                alt="Tuscan countryside">
                <h3>Italy</h3>
              </a>
            </div>
          </article>
          <article>   
            <div class="col-4"> 
              <a href="{{ url_for('netherlands') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/netherlands_i_am-500.jpg') }},
                {{ url_for('static', filename='images/netherlands_i_am-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/netherlands_i_am-500.jpg') }}"
                alt="I AM NETHERLANDS Sign">
                <h3>The Netherlands</h3>
              </a>
            </div>
          </article>
        </div>   
        <div class="row"> 
          <article>
            <div class="col-4"> 
              <a href="{{ url_for('spain') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/spain_sagrada_familia-500.jpg') }},
                {{ url_for('static', filename='images/spain_sagrada_familia-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/spain_sagrada_familia-500.jpg') }}"
                alt="Sagrada Familia in Barcelona">
                <h3>Spain</h3>
              </a>
            </div>
          </article>
          <article> 
            <div class="col-4">   
              <a href="{{ url_for('uk') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/uk_tower_bridge-500.jpg') }},
                {{ url_for('static', filename='images/uk_tower_bridge-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/uk_tower_bridge-500.jpg') }}"
                alt="Tower Bridge in London">
                <h3>United Kingdom</h3>
              </a> 
            </div>
          </article> 
        </div>  
      </section>
      <section>
        <div class="row"> 
          <div class="col-12">
            <h2>Northern Africa</h2>
          </div>
        </div>
        <div class="row">
          <article>
            <div class="col-4"> 
              <a href="{{ url_for('egypt') }}">
                <img class="index"
                srcset="{{ url_for('static', filename='images/egypt_pyramid-500.jpg') }},
                {{ url_for('static', filename='images/egypt_pyramid-1000.jpg') }} 2x"
                src="{{ url_for('static', filename='images/egypt_pyramid-500.jpg') }}"
                alt="Pyramids of Giza">
                <h3>Egypt</h3>
              </a>
            </div>
          </article>
        </div>  
      </section> 
    </div>
  </main> 
{% endblock %}