{% extends "base.html" %} 

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12"> 
          <h2>Spain</h2> 
        </div>
      </div> 
      <article class="country-page">
        <div class="row">
          <div class="col-12"> 
            <figure> 
              <img srcset="{{ url_for('static', filename='images/spain_arc_de_triomf-1600.jpg') }} 1600w,
              {{ url_for('static', filename='images/spain_arc_de_triomf-1000.jpg') }} 1000w,
              {{ url_for('static', filename='images/spain_arc_de_triomf-800.jpg') }} 800w,
              {{ url_for('static', filename='images/spain_arc_de_triomf-500.jpg') }} 500w"
              sizes="(min-width: 750px) 800px, 500px"
              src="{{ url_for('static', filename='images/spain_arc_de_triomf-500.jpg') }}" 
              alt="Arc de Triomf, Barcelona">
              <figcaption>Arc de Triomf</figcaption>
            </figure>
            <p> I went to Barcelona with a bunch of people I didn't know very well,
               but it was still fun. We spent the first day getting acclimated 
               and walking around the Arc de Triomf. We ate a lot of tapas and 
               also experienced the nightlife, which was timed a little too late 
               for my taste (I'm a grandma).</p>
            <figure>
              <img srcset="{{ url_for('static', filename='images/spain_sagrada_familia-1600.jpg') }} 1600w,
              {{ url_for('static', filename='images/spain_sagrada_familia-1000.jpg') }} 1000w,
              {{ url_for('static', filename='images/spain_sagrada_familia-800.jpg') }} 800w,
              {{ url_for('static', filename='images/spain_sagrada_familia-500.jpg') }} 500w"
              sizes="(min-width: 750px) 800px, 500px"
              src="{{ url_for('static', filename='images/spain_sagrada_familia-500.jpg') }}" 
              alt="Sagrada Familia, Barcelona">
              <figcaption>Sagrada Familia</figcaption>
            </figure> 
            <p>My favorite parts were whenever we visited the architecure of
              Antoni Gaudi, who I think is just crazy and out there - in a good
               way. The inside of Sagrada Familia is unlike anything I've ever 
               seen and I was taken aback to learn it has been under construction 
               since it first started in 1882.</p> 
            <figure> 
              <img srcset="{{ url_for('static', filename='images/spain_casa_mila-1600.jpg') }} 1600w,
              {{ url_for('static', filename='images/spain_casa_mila-1000.jpg') }} 1000w,
              {{ url_for('static', filename='images/spain_casa_mila-800.jpg') }} 800w,
              {{ url_for('static', filename='images/spain_casa_mila-500.jpg') }} 500w"
              sizes="(min-width: 750px) 800px, 500px"
              src="{{ url_for('static', filename='images/spain_casa_mila-500.jpg') }}" 
              alt="Casa Mila, Barcelona">
              <figcaption>Casa Mila</figcaption>
            </figure>
            <p> I also greatly enjoyed visiting Casa Mila and wish I could live there! 
              One can always dream. </p>
          </div>
        </div> 
      </article>
    </div>
  </main> 
{% endblock %}
